* {
  margin: 0;
  left: 0;
}

body {
  background: rgb(129, 93, 109);
  background: radial-gradient(circle, rgba(129, 93, 109, 0.3813725319229254) 0%, rgba(194, 206, 222, 1) 100%);
}

main {
  position: relative;
  height: 100vh;
}

h1 {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #2b303a;
  font-style: oblique;
}

.UserUI {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3%;
  margin-top: 0.4%;
  width: 100%;
  padding: 4px;
  position: absolute;
  top: 10%;
}

.received {
  display: flex;
  flex-direction: column;
  flex: 2;
  flex-wrap: wrap;
}

.divForm {
  width: 100%;
}

form {
  border: none;
  padding: 5% 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  background: #aab;
}

.recent {
  font-size: 1.4rem;
  margin-bottom: 1%;
  padding-top: 1%;
}

table {
  border: 1.5px solid black;
  width: 90%;
}

#refresh {
  font-size: 1rem;
  padding: 1% 5%;
  border: none;
  border-radius: 14px;
  box-shadow: 5px 5px;
  transition: all 0.4s;
}

#refresh:hover {
  color: #fff;
  background: #ff5a5f;
  border: none;
  border-radius: 10px;
  box-shadow: none;
}

span {
  margin-left: 4%;
}

#userData {
  width: 96%;
  border: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 500px;
}

::-webkit-scrollbar {
  display: none;
}

.formSend {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#Add {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px;
  font-size: 1.5rem;
}

#name,
#score {
  padding: 2.5%;
  font-size: 1rem;
  font-weight: 650;
  color: black;
  width: 80%;
  border: none;
  border-radius: 12px;
  margin-top: 2%;
  background: #fff;
}

.tbody {
  overflow-y: auto;
}

#submitBtn {
  margin-top: 3%;
  font-size: 1rem;
  padding: 2% 6%;
  box-shadow: 5px 5px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
}

#submitBtn:hover {
  background: #369cfa;
  color: #fff;
  box-shadow: 0 0;
}

@media (max-width: 550px) {
  .UserUI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .received {
    width: 100%;
  }

  #userData {
    margin: auto;
  }

  .formSend {
    width: 100%;
    align-items: center;
  }

  .divForm {
    width: 100%;
  }

  form {
    width: 100%;
  }
}
